body{
    font-family: "Dengxian";
}
.actionLink {
    cursor: pointer;
}

.panelToggle {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.panelToggle:hover {
    color: lightgray;
    text-decoration: none;
}
.panelToggle:visited {
    color: white;
    text-decoration: none;
}
.panelToggle:active {
    color: white;
    text-decoration: none;
}

.my_select {
    margin-right: 10px;
    height: 34px;
    border-radius: 4px;
    padding: 6px 12px;
}