 <div class="col-lg-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">CONFIG DETAIL</div>
                            <div class="panel-body">
                                <form method="POST" action="#">
                                    <div class="form-group">
                                        <label>image</label>
                                        <input class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>key_pair</label>
                                        <input class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>instance_type</label>
                                        <input class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>vpc</label>
                                        <input class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>subnets</label>
                                        <input class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>security_group</label>
                                        <input class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>alloc_public_ip</label>
                                        <input class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>instance_profile</label>
                                        <input class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>use_default_ebs_settings</label>
                                        <input class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>volume_type</label>
                                        <input class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>volume_size</label>
                                        <input class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>volume_iops</label>
                                        <input class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>sourceDestCheck</label>
                                        <input class="form-control"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>