<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; Charset=UTF-8" />
        <title>ELB UPDATE MANAGER</title>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/common.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/metisMenu.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/font-awesome.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/sb-admin-2.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/messenger.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/messenger-theme-flat.css' %}"/>
    </head>
    <body>
        <div id="wrapper">

            <!-- NAVIGATION -->
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0px;">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'launcher:index' %}">EC2 LAUNCHER</a>
                </div>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group">
                                    <label>PROFILE</label>
                                    <select id="selProfile" class="form-control" onchange="getRegionsForProfile()" autocomplete="off">
                                        <option value="0" selected> --- </option>
                                        {% for profile in profiles %}
                                        <option value="{{profile.id}}">{{profile.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </li>
                            <li class="sidebar-search">
                                <div class="input-group">
                                    <label>REGION</label>
                                    <select id="selRegions" class="form-control" onchange="selRegionsChanged()">
                                        <option value="0"> --- </option>
                                    </select>
                                </div>
                            </li>
                            <li class="sidebar-search">
                                <div class="input-group">
                                    <label style="display:block;">LOAD BALANCERS</label>
                                    <button class="btn btn-primary" type="button" onclick="updateELBs()">UPDATE</button>
                                    <button class="btn btn-primary" type="button" onclick="">LIST</button>
                                </div>
                            </li>
                            <li class="sidebar-search">
                                <div class="input-group">
                                    <label style="display:block;">EXPERIMENTAL</label>
                                    <button class="btn btn-default" type="button" id="btnF1">F1</button>
                                    <button class="btn btn-default" type="button" id="btnF2">F2</button>
                                    <button class="btn btn-default" type="button" id="btnF3">F3</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- /NAVIGATION -->

             <div id="page-wrapper">
                <!-- PLACEHOLDER BEHIND FIXED NAVBAR -->
                <div class="row" style="height: 50px;margin-bottom:10px;"></div>
                <!-- /PLACEHOLDER -->
                <div class="row">
                    <div class="col-lg-12">

                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Profile</th>
                                    <th>Region</th>
                                    <th>ELB Name</th>
                                    <th>Task Stage</th>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                <tr>
                                    <td>{{task.profile.name}}</td>
                                    <td>{{task.region.code}}</td>
                                    <td>{{task.elb_name}}</td>
                                    <td>{{task.status.0}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                 </div>
             </div>

        <script src="{% static 'launcher/js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'launcher/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'launcher/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'launcher/js/sb-admin-2.js' %}"></script>
        <script src="{% static 'launcher/js/messenger.min.js' %}"></script>
        <script src="{% static 'launcher/js/messenger-theme-flat.js' %}"></script>
        <script src="{% static 'launcher/js/launcher.js' %}"></script>
        <script>
function handleAjaxError(xhr, status, error) {
    alert("Ajax request failed: "+status+" \n "+error)
}

// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

var csrftoken = getCookie('csrftoken');
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    },
    error: handleAjaxError
});


/* global variables */
var msg = null;                     // the pop-up Messenger object;
var resourceTypes = [               // list of AWS resource types;
    "images",
    "key_pairs",
    "instance_profiles",
    "vpcs",
    "subnets",
    "security_groups",
    "server_certificates"
];
var updateResourceIndex = -1;       // index of which resource type is being updated;
//var editor;                         // JSON editor (ace) object;
var editorNew;                      // JSON editor for creating new optionset;
var EC2LaunchOptionSetId = 0;       // Id of the EC2LaunchOptionSet currently being edited/updated.
$(document).ready(function() {
    Messenger.options = {
        extraClasses: 'messenger-fixed messenger-on-top',
        theme: 'flat'
    };


})
</script>
    </body>
</html>