<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; Charset=UTF-8" />
        <title>PRD UPDATE</title>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/common.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/metisMenu.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/font-awesome.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/sb-admin-2.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/messenger.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'launcher/css/messenger-theme-flat.css' %}"/>
    </head>
    <body>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="panel-heading">ap-southeast-1</div>
                    <div class="panel-body">

                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="7">
                                        <label>区域：</label>
                                        <select>
                                            <option>Singapore</option>
                                            <option>Ireland</option>
                                        </select>
                                        <label>时间：</label>
                                        <input />
                                    </th>
                                    <th><button>+批次</button></th>
                                </tr>
                                <tr>
                                    <td>类型</td>
                                    <th>时间</th>
                                    <th>模块</th>
                                    <th>版本</th>
                                    <th>主机数</th>
                                    <th>ELB</th>
                                    <th>备注</th>
                                    <th>添加</th>
                                </tr>
                            </thead>
                            <tbody id="TheTbody">
                                <tr>
                                    <td>AT</td>
                                    <td><input class="form-control" /></td>
                                    <td><input class="form-control" /></td>
                                    <td><input class="form-control" /></td>
                                    <td><input class="form-control" /></td>
                                    <td><input class="form-control" /></td>
                                    <td><input class="form-control" /></td>
                                    <td>
                                        <button>+AT</button>
                                        <button>+MT</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>MT</td>
                                    <td colspan="6">
                                        <textarea class="form-control"></textarea>
                                    </td>
                                    <td>
                                        <button>+AT</button>
                                        <button>+MT</button>
                                    </td>
                                </tr>
                            </tbody>
                            
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div style="display:none">
            <table>
                <tbody>
                    <tr id="row1">
                        <td onclick="alert('my');">a</td>
                        <td>b</td>
                        <td>c</td>
                    </tr>
                    <tr id="row2">
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>n 
        </div>

        <script src="{% static 'launcher/js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'launcher/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'launcher/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'launcher/js/sb-admin-2.js' %}"></script>
        <script src="{% static 'launcher/js/messenger.min.js' %}"></script>
        <script src="{% static 'launcher/js/messenger-theme-flat.js' %}"></script>
        <script src="{% static 'launcher/js/ace.js' %}"></script>
        <script src="{% static 'launcher/js/launcher.js' %}"></script>

        <script>
var pici = 1;
var bu = 1;
function f1() {
    var r = $('#row1').clone();
    r.prop(
        'id',
        "row_"+pici.toString()+"_"+bu.toString()
    );
    bu += 1;
    r.appendTo('#TheTbody');
}
        </script>
    </body>
</html>